@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #E3FFFF;
  --color-background: #F2F0F1;
}

body {
  font-family: Inter;  
}

.standard-width {
  @apply w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
